/***** Brand Colors *****/ 
/* 
- Aquamarine
#3b707d

- Orange
#ffb85d

- Red Orange
#ff5412

- Grey
#818582

- Black
#030a04
*/

* {
  background-color: var(--black);
  font-family: "Montserrat", sans-serif;
}

:root {
  --orange: #ffb85d;
  --grey: #818582;
  --black: #030a04;
}

div.count-numbers > * {
  font-weight: 600;
  color: var(--orange);
  font-size: 8rem;
}

.top-heading-text {
  color: var(--grey);
}

.sub-heading {
  text-align: left;
  font-size: 1.25rem;
  margin: 2rem 0 1rem 0;
}

.count-words {
  font-weight: 400 !important;
  font-size: 1.25rem !important;
  /* transform: rotate(90deg); */
}

div.main-heading > div {
  font-weight: 900;
  text-align: left;
}

/* start Typing Effect CSS */
span.auto-type,
.typed-cursor {
  color: #FFB85D;
}
/* end - Typing Effect CSS */